@font-face {
	font-family: Google-Sans;
	src: url('../../fonts/GoogleSans-Regular.ttf');
}

* {
	font-family: 'Google-Sans';
}

.card-title-text {
	text-shadow: 2px 2px 4px #000000;
}

/* homepage */
.card1:hover {
	-moz-box-shadow: 0 0 50px grey;
	-webkit-box-shadow: 0 0 50px grey;
	box-shadow: 0 0 50px grey;
	cursor: pointer;
}

.card2:hover {
	-moz-box-shadow: 0 0 50px grey;
	-webkit-box-shadow: 0 0 50px grey;
	box-shadow: 0 0 50px grey;
	cursor: pointer;
}

.card-home {
	padding: 13px !important;
}

.card.horizontal .card-edit {
	max-width: 30% !important;
}

.card-home h4 {
	font-size: 27px !important;
	margin: 0px !important;
}

.card-image {
	padding: 10px !important;
}

#rcorners1 {
	border-radius: 25px;
}

.bg-mosque {
	background: url('assets/images/mosque-vector.png') no-repeat center center fixed !important;
	object-fit: cover !important;
	margin: auto !important;
	height: 600px !important;
}

.overflow-hidden {
	overflow: hidden;
}

.modal {
	position: fixed;
	left: 0;
	right: 0;
	background-color: #fafafa;
	padding: 0;
	max-height: 70%;
	width: 40%;
	margin: auto;
	overflow-y: auto;
	border-radius: 20px;
	will-change: top, opacity;
	max-height: 900px !important;
}

.modal:focus {
	outline: none;
}

.no-shadows {
	box-shadow: none !important;
}

div.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	padding-top: 1px;
	background-color: white;
}

.table-borderless {
	border-bottom: 0px !important;
	border-collapse: unset !important;
}

.font-bold {
	font-weight: bold !important;
}

.tr-border-top {
	border-top: 1pt solid black;
}

.preloader-background {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;

	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.page-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 0px;
}

.footer-copyright h6 {
	font-size: 12px;
}

.mosacc-logo {
	margin-right: 15px;
	height: 30px;
	width: 30px
}

#mosacc-logo {
	padding-left: 1rem !important;
}

.logo-homepage {
	margin-top: 0.2rem;
}

.more-vert {
	width: 100px !important;
}

.sponsored-icon {
	justify-content: center;
}

ul.dropdown-content {
	width: 110px;
	height: 604px;
}

#more_DD {
	height: 180px !important;
}

#more_DD li a:hover {
	color: black;
}

#bulan_DD {
	height: 350px !important;
}

#tahun_DD {
	height: 150px !important;
}

#laporan-nav {
	display: flex;
	justify-content: space-around;
	background-color: white;
	align-items: center;
}

.dropdown-content {
	position: absolute !important;
}

.flex-display {
	display: flex;
}