a.card-status {
    height: 300px !important;
    padding: 0px !important;
}

body{
    overflow:scroll;
}

img.wizard-jabatan_photos{
    height: 20rem;
    width: 20rem;
}

.card-container{
    margin-top: 6%;
    padding-left: 10%;
}

.card-container.border-left{
    border-left: 1px solid;
}

.card-judul {
    padding: 0px;
    text-align: left;
    font-size: 90%;
    font-weight: bold;

}

.card-nominal{
	text-align: left;
    padding: 0px;
    font-size: 170%;
}

.card-lastChange{
	text-align: left;
    padding: 0px;
    margin: 0px;
    font-size: 70%;
    line-height: 175%;
}

.carousel {
	height: 600px !important;
}

.dashChart{
    height: 100%;
    width: 100%;
}

.dashchart-innerContainer {
    padding: 4% !important;
}

.dashChart-container {
    padding: 2%;
    height: max-content;
    /* overflow: auto; */
}

/* padding margin 0 */
.pm-0{
    padding: 0px;
    margin: 0px;
}

.tab-content{
    height: 300px;
}

.tabs-content.carousel.carousel-item{
    height:200%;
}

.tabs.tabs-cardContainer{
    height: 75px;
}

.tab.col.card-tab {
	width: 175px;
}

.tabs {
    display:-webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 62px;
}

.wrapper-jabatan_photos{
    display: flex; /*fleksibel dan ngatur dan membagi dengan jarak yang sama*/
    justify-content: space-around; /*buat nengahin konten*/
}